<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>Login Usuarios</h1>

    <form id="userform">
        <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="useremail">Email:</label>
            <input type="email" name="useremail" id="useremail" required>
        </div>

        <button type="button" id="getCookie">Get Cookie</button>
        <button type="submit" id="setCookie">Enviar</button>
    </form>

    <script>
        document.getElementById('userform').addEventListener('submit', async function(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const useremail = document.getElementById('useremail').value;

            const response = await fetch('/setCookie', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username, useremail })
            });

            const result = await response.json();
            console.log(result.message);
        });

        document.getElementById('getCookie').addEventListener('click', async function() {
            const response = await fetch('/getCookie');
            const result = await response.json();
            console.log(result);
        });
    </script>
</body>
</html>
